!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
%html.no-js
  <!--<![endif]-->
  %head
    %meta{ :charset => "utf-8" }/

    -#
      Always force latest IE rendering engine (even in intranet) & Chrome Frame
      Remove this if you use the .htaccess
    %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }/

    %title
    %meta{ :content => "", :name => "description" }/
    %meta{ :content => "", :name => "author" }/

    -# Mobile viewport optimized: j.mp/bplateviewport
    %meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport" }/

    -# Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references
    -# %link{ :href => "/favicon.ico", :rel => "shortcut icon" }/
    -# %link{ :href => "/apple-touch-icon.png", :rel => "apple-touch-icon" }/

    -# CSS: implied media="all"
    %link{ :href => "css/style.css", :media => "all", :rel => "stylesheet" }/

    -# Uncomment if you are specifically targeting less enabled mobile browsers
    -# %link{ :href => "css/handheld.css?v=1", :media => "handheld", :rel => "stylesheet" }/

    -# All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects
    %script{ :src => "js/modernizr.min.js" }

  %body{ :lang => "en" }
    #outer-container
      %img.snap#snap1{:src => 'images/venus.png'}
      %img.snap#snap2{:src => 'images/arc.png'}
      %img.snap#snap3{:src => 'images/louvre.png'}
      %img.snap#snap4{:src => 'images/tower.png'}
      %img.snap#snap5{:src => 'images/tower1.png'}
      %img.snap#snap6{:src => 'images/wings.png'}
      #container
        %header#siteheader
          %hgroup
            %h1 Paris Picture School
            %h2 Learn how to take better photos in Paris
        %section#intro
          %p Have fun discovering the magic of light &amp; composition in the city of light.
          %p Photograph the ancient palaces, beautiful gardens &amp; hidden laneways of Paris guided by <a href="http://www.laurafriezer.com">Laura Friezer</a>, a professional photographer who will unveil the simple rules to taking great photographs in all conditions with either a simple pocket digital or a DSLR camera.
          %p Includes a 3 course lunch in an intimate Parisian restaurant.
        %section#courselist
          %header
            %h1 The course list

          %section.course
            %header
              %h2 Paris in your Pocket Tour
            :markdown
              Starting at the Palais Royal near the Louvre Museum in the 1st arrondissement, you will wind your way slowly through to the famous Louvre Pyramid strolling through to the Tuilleries garden. Take your time to enjoy Paris in all its splendour before sitting down with your guide and fellow students in an intimate Parisian restaurant to review and discuss your photos over a delicious 3-course lunch.

              The best photo of the day as decided by the group &amp; guide will win a <a href="http://www.freddofrog.com/">Freddo Frog</a> and will be published on the Paris in your camera facebook site.
            %aside
              :markdown
                Bring your Pocket Digital Camera, good walking shoes &amp; a smile
                Includes Photography instruction &amp; 3 course meal
                Maximum participants 10

          %section.course
            %header
              %h2 Paris in Your DSLR Tour
              :markdown
                With personalised attention & your DSLR set to Manual you will be guided through the Paris streets capturing the exquisite light and architecture of Paris to create artistic, imaginative photos starting at the Palais Royal near the Louvre Museum in the 1st arrondissement. You will wind your way slowly through to the famous Louvre Pyramid strolling through to the Tuileries garden. Take your time to enjoy Paris in all its splendour before sitting down with your guide and fellow students in an intimate Parisian restaurant to discuss and critique your photos over a delicious 3-course lunch.

                The best photo of the day as decided by the group & guide will win a <a href="http://www.freddofrog.com/">Freddo Frog</a> &amp; be published on the Paris in your camera facebook site [link to facebook site]

            %aside
              :markdown
                Includes instruction &amp; 3 course meal
                Maximum participants: 6
                Digital SLR camera body &amp; lens, basic knowledge of photography

        - if @events.length > 0
          %section#upcoming
            %header
              %h1 Upcoming classes
            %table
              - @events.each do |event|
                %tr
                  %td.date
                    %strong= event[:date]
                    %span #{event[:start]}—#{event[:end]}
                  %td.course
                    %strong= event[:name]
                    = event[:location]
                  %td.action
                    -if event[:sold_out]
                      %span.soldout.medium.awesome Sold Out
                    -else
                      %a.awesome.magenta.medium{:href=>event[:link]} Register
          - else
            %p There are no upcoming classes.

    -#
      Javascript at the bottom for fast page loading
      Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" }
    :javascript
      !window.jQuery && document.write(unescape('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))

    -#  asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet
    -#  change the UA-XXXXX-X to be your site's ID
    :javascript
      var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
      (function(d, t) {
       var g = d.createElement(t),
           s = d.getElementsByTagName(t)[0];
       g.async = true;
       g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       s.parentNode.insertBefore(g, s);
      })(document, 'script');


